.graph-holder {
    border: 1px solid #e0e0e0;
    margin-top: 24px;
    border-radius: 4px;
}

.home-container .replication-container .graph-holder .highcharts-container {
    width: 100%!important;
    height: 100%!important;
    border-radius: 4px;
}