.side-nav-container {
	padding-left: 0!important;
    height: 100%;
    position: absolute;
    width: 156px;
    background-color: #f7f7f7;
    top:72px;

}
.sidebar-nav{
    height:  100%;
    overflow-y: auto;
    border-left: solid;
    border-right: solid;
    border-width: thin;
    border-color: #e0e0e0;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #358027;
    cursor:pointer;
    font-size: 15px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.sidebar-nav li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(100, 100, 100);
    cursor:pointer;
    font-size: 15px;
}

.sidebar-nav li img.close_img {
    display: none;
    line-height: 15px;
}
.sidebar-nav li:hover img.close_img {
    display: block;
    height: 15px;
    margin-left: 4px;
}
.sidebar-nav li:hover a {
    font-weight: 500;
}
