<div class="row user-info-container">
    <!--<h2>Home screen</h2>-->
    <!--<div >Welcome {{homeCtrl.name}}</div>-->


    <div class="alert alert-danger" role="alert"  ng-show="homeUserDataCtrl.graphData.length == 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <p >There is no data</p>
    </div>
    <!--<div>Hello</div>-->

    <div class="graph-holder" ng-repeat="data in homeUserDataCtrl.graphData" ng-show="data.length > 0">
        <p ng-bind="homeUserDataCtrl.user.name" ></p>

        <p ng-bind="homeUserDataCtrl.user.lastname" ></p>
        <line-chart ng-model="homeUserDataCtrl.extent" data="data" ng-show="data != null"></line-chart>

        <button  class="btn btn-default btn-sm center-block " type="button" ng-csv="data" filename="{{ homeUserDataCtrl.titles[$index] }}.csv" csv-header="homeUserDataCtrl.headers[$index]">Export</button>
        <p></p>
    </div>

</div>
