<div align class="measurement-container">
	<div class="header-container">
		<h3>Measurement properties</h3> 
		<div 
			title="{{ctrl.measurement.Active ? 'Diactivate' : ''}}" 
			class="badge"
			ng-class="{'pointer': ctrl.measurement.Active}"
			ng-click="ctrl.measurement.Active ? ctrl.diactivateMeasurement() : null">
			<span class="active" ng-if="ctrl.measurement.Active">Active</span>
			<span class="inactive" ng-if="!ctrl.measurement.Active">Inactive</span>
		</div>
	</div>
	<div class="property" ng-repeat="property in ctrl.measurementProperties">
		<span class="property-title">{{property.title}}:</span>
		<span class="property-value" ng-switch="property.type">
			<span ng-switch-when='Date'>
				{ctrl.measurement[property.param]}} | |date:'dd.MM.yyyy HH:mm'
			</span>
			<span ng-switch-default>
				{{ctrl.measurement[property.param]}}
			</span>
		</span>
	</div>

	<p>This measurement has {{ctrl.replicationNumber}} replications.</p>
	<div 
		ng-if="ctrl.measurement.Active"
		class="bottom-toolbar">
		<button
			ng-click="ctrl.createReplication()" 
			ng-if="!ctrl.newReplication"  
			type="button" 
			class="btn btn-success">
			Start Replication
		</button>
		<button 
			ng-click="ctrl.stopReplication()"
			ng-if="ctrl.newReplication"  
			type="button" 
			class="btn btn-danger">
			Stop Replication
		</button>
	</div>
	
</div>