<div class="replication-container">
    <div class="replication-toolbar">
        <div class="right-buttons">
            <a class="redirect-button" ui-sref="measurement({measurementId: ctrl.measurementId})">
                <button
                    type="button"
                    class="btn btn-redirect">
                    Back to measurement
                </button>
            </a>
        </div>
       
    </div>
        
    <div
        class="description-form">
        <div class="header-container">
            <span class="metadata-title">Metadata: </span>
        </div>
        <div class="description-holder">
            <p ng-if="!ctrl.editDescription" >{{ctrl.description}}
                <span ng-if="!ctrl.description">Replication has no descriotion yet.</span>
            </p>
            <textarea 
                placeholder="Enter replication description" 
                ng-if="ctrl.editDescription" 
                ng-model="ctrl.description"></textarea>
            
            <span 
                title="Edit description" 
                ng-if="!ctrl.editDescription"
                ng-click="ctrl.editDescription = !ctrl.editDescription"
                class="icon-btn mi mi-edit"></span>
            <span 
                title="Save changes" 
                ng-if="ctrl.editDescription"
                ng-click="ctrl.saveReplicationDescription()"
                class="icon-btn mi mi-check"></span>
            <span 
                title="Cancel" 
                ng-if="ctrl.editDescription"
                ng-click="ctrl.cancelEditing()"
                class="icon-btn mi mi-close"></span>
        </div>
    </div>
   
</div>

<div class="replication-container">
    <div 
        style="width:100%; height:400px;"
        id={{data}}
        class="graph-holder" 
        ng-repeat="data in ctrl.graphs" >
    </div>
    <p
        class="no-values-msg"
        ng-if="!ctrl.graphs.length">
        This replication has no values.
    </p>
</div>
