    <ul class="sidebar-nav">

        <li ng-repeat="option in dataCtrl.measures" ng-class="{'active':dataCtrl.isCurrentMeasure(option)}">
            <!--ui-sref="home.measure({measure: option.id_measure})"-->

            <a  ng-click="dataCtrl.getSensors(option.id_measure)">
                <!--{{option.time_start |date:'shortDate'}}  {{option.time_start |date:'shortTime'}}-->
                {{option.time_start |date:'dd.MM.yyyy HH:mm'}}
            </a>
             <img class="close_img" src="assets/img/close1.png" ng-click="dataCtrl.deleteMeasure(option.id_measure)">
        </li>
    </ul>
